@import '../../utils/styles.scss';

.upper-section {
    width: 100%;
    display: flex;
    .round-div {
        width: elWidth(100, 1334);
        height: 50px;
        margin: 0 auto;
        background: #E6C09D;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 5000px;
        border-top-right-radius: 5000px;
        transform: rotate(180deg);
        p {
            transform: rotate(180deg);
            font-size: 18px;
        }
    }
}

.cards-section {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    .card {
        width: 12%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .img-section {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .info-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 14px 0px;
            .name {
                color: #4A3D31;
            }
            .price {
                color: #78BD58;
                margin-top: 10px;
            }
            .count {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                &_btn {
                    width: 22px;
                    height: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #92775E;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    transition-duration: 0.5s;
                    &:hover {
                        background: #846c55;
                        transition-duration: 0.5s;
                    }
                }
            }
        }
    }
}

.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .info-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #A3876E;
        font-size: 24px;
        hr {
            width: 10%;
        }
    }
    .form {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-around;
        .form_info {
            width: 30%;
            .form_div {
                width: 100%;
                &_input {
                    width: 90%;
                    height: 30px;
                    margin: 10px 0px;
                    background: #FFE4CB;
                    border: none;
                    border-radius: 16px;
                    padding-left: 10px;
                }
                textarea {
                    height: 70px;
                    resize: none;
                }
            }
            .total-price {
                color: #898989;
                strong {
                    color: #2DA771;
                }
            }
        }
        .form_delivery {
            width: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            button {
                width: 60%;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #495771;
                color: white;
                border: none;
                border-radius: 4px;
                margin-top: 10px;
                transition-duration: 1s;
                &:hover {
                    background: #3e4960;
                    transition-duration: 1s;
                }
            }
            .submit_button {
                background: #78BD58;
                transition-duration: 1s;
                &:hover {
                    background: #78BD58;
                    transition-duration: 1s;
                }
            }
        }
    }
}