.container {
    background-color: #ffff;
}

.basket-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #88613D;
    font-size: 24px;
}

.hr-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 1px;
    background-color: #BE9B7B;
}

.page-products {
    width: 100%;
    height: auto; /* Змінено на автоматичну висоту, щоб контейнер міг збільшуватися */
    display: flex;
   
    flex-wrap: wrap; /* Додано wrap */
    align-items: center;
    justify-content: space-between; /* Змінено на початок */
    padding: 0 84px;
    box-sizing: border-box;
}

.product-card {
    width: 343px;
    height: 403px;
    border: 3px solid #BE9B7B;
    border-radius: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-text {
    margin-top: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.plus-minus-btn {
    margin: 0 5px;
    background-color: #FED1A8;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.order-delete-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.order-btn {
    color: white;
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #88613D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn {
    color: white;
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #FF999E;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.total-price {
    margin-top: 20px;
    margin-left: 100px;
}

.total-price p {
    margin-bottom: 10px;
}

.total-price-value {
    color: #B1F790;
}

.order-all-btn {
    padding: 8px 16px;
    background-color: #B1F790;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
@media screen and (max-width: 768px) {
    .page-products {
        flex-direction: column;
        align-items: center;
    }
}